api/vendor/bundle
/api/vendor*
/api/vendor/
/api/vendor/*
.bundle/config

node_modules/

/api/public/packs
/api/public/packs-test
/api/public/assets

/api/config/master.key

/api/.rspec
/api/coverage/

/api/log/*
/api/tmp/*
/api!/log/.keep
/api!/tmp/.keep

/api/.bundle/config
/api/.ruby-version
